@model CUAHANGBANSACH.Models.PHIEUMUAHANG

@{
    ViewBag.Title = "Details";
}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>PHIẾU MUA HÀNG @Model.maphieumuahang</h2>
                <hr class="colorgraph" />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ngaylap)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ngaylap)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tinhtrangthanhtoan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tinhtrangthanhtoan)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tinhtrang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tinhtrang)
                    </dd>



                </dl>
            </div>

            <div class="col-lg-12">
                <h2>DANH SÁCH CÁC CUỐN SÁCH TRONG ĐƠN HÀNG @Model.maphieumuahang</h2>
                <table class="table">
                    <tr>
                        <th>
                            Mã Sách
                        </th>
                        <th>
                            Tên Sách
                        </th>

                        <th>
                            Đặc Điểm
                        </th>
                        <th>
                            Ảnh Sản Phẩm
                        </th>
                        <th>Số Lượng Mua</th>
                        <th>
                            Đơn Giá
                        </th>
                        <th>Thành Tiền</th>


                    </tr>

                    @foreach (var item in Model.dsSach)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.masach)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tensach)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.dacdiem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.anhsanpham)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.soluongmua)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dongia) VND
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.thanhtien) VND</td>

                            <td>
                                @Html.ActionLink("Thông tin sách", "Details", "QLSACH", routeValues: new { @Ma_Sach = item.masach }, htmlAttributes: null) |
                            </td>
                        </tr>
                    }

                </table>
                <h3>Tổng giá trị hóa đơn: @Html.DisplayFor(model => model.DHTotal) VND</h3>
                <p>
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>

</section>

