@model IEnumerable<CUAHANGBANSACH.Models.PHIEUMUAHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngaylap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhtrangthanhtoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makhachhang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tinhtrangthanhtoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tinhtrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makhachhang)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maphieumuahang }) |
                @Html.ActionLink("Details", "Details", new { id = item.maphieumuahang }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maphieumuahang })
            </td>
        </tr>
    }

</table>
