@model CUAHANGBANSACH.Models.THELOAISACH

@{
    ViewBag.Title = "Details";
}


<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Thông tin thể loại @Model.tentheloai</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.tentheloai)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tentheloai)
                    </dd>

                </dl>
            </div>
            <div class="form-graph">
                <p>
                    <input type="button" value="Cập nhật thông tin thể loại" onclick="location.href='@Url.Action("Update", "QLTL", routeValues: new { @MaTL = Model.matheloai })'" />
                    <input type="button" value="Trở lại danh sách" onclick="location.href='@Url.Action("Index", "QLTL")'" />
                </p>
            </div>
        </div>
    </div>
</section>
