@model CUAHANGBANSACH.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}

<h2>Details</h2>
<section id="content">
    <div>
        <h4>SACH</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tensach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tensach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soluonghienco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soluonghienco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dacdiem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dacdiem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.anhsanpham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.anhsanpham)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DVT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DVT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dongia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dongia)
            </dd>

            <dt>Tên thể loại</dt>
            <dd>@Html.DisplayFor(model => model.tentheloai) </dd>

            

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", routeValues: new { @Ma_Sach = Model.masach }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>

