@model CUAHANGBANSACH.Models.PHIEUMUAHANG

@{
    ViewBag.Title = "KQTC";
}

<section id="content">
    <div>
        <h4>Hiện thị thông tin phiếu mua hàng @Model.maphieumuahang</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ngaylap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ngaylap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tinhtrangthanhtoan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tinhtrangthanhtoan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tinhtrang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tinhtrang)
            </dd>

            

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.maphieumuahang }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>


