@model CUAHANGBANSACH.Models.KHACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <h2>Chi tiết thông tin Khách @Model.tenkhachhang </h2>
            <hr class="colorgraph" />
            <div class="col-lg-4">
                <h3>Ảnh đại diện</h3>
                <div class="form-group">
                    @if (!string.IsNullOrEmpty(Model.avatar))
                    {
                        <img src=@Model.avatar style="width: 200px; height: auto;" />
                    }
                    else
                    {
                        <span>Không có ảnh</span>
                    }

                </div>
            
            </div>

            <dl class="col-lg-8">
                <dt>
                    @Html.DisplayNameFor(model => Model.tenkhachhang)
                </dt>

                <dd>
                    @Html.DisplayFor(model => Model.tenkhachhang)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => Model.diachi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => Model.diachi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => Model.sdt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => Model.sdt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => Model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => Model.email)
                </dd>

            </dl>
        </div>
        <div class="form-group">
            <input type="button" value="Trở lại danh sách" onclick="location.href='@Url.Action("Index", "QLKHACH")'" />
        </div>

    </div>

</section>

