@model IEnumerable<CUAHANGBANSACH.Models.PHIEUMUAHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="content">
    <p>
        @Html.ActionLink("Tạo Mới Đơn Hàng", "Create")
    </p>


    @if (Model == null)
    {
        <h1>Please login to see your all cart</h1>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>
                    @Html.DisplayNameFor(model => model.ngaylap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tinhtrangthanhtoan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tinhtrang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.makhachhang)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.maphieumuahang) </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaylap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tinhtrangthanhtoan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tinhtrang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.makhachhang)
                    </td>
                    <td>
                        @Html.ActionLink("Xác Nhận Mua", "Confirm", routeValues: new { @Ma_DH = item.maphieumuahang }) |
                        @Html.ActionLink("Details", "Details", routeValues: new { @Ma_DH = item.maphieumuahang }) |
                        @Html.ActionLink("Delete", "Delete", routeValues: new { @Ma_DH = item.maphieumuahang })
                    </td>
                </tr>
            }

        </table>
    }

</section>

