@model IEnumerable<CUAHANGBANSACH.Models.PHIEUMUAHANG>

@{
    ViewBag.Title = "Index";
}


<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>LỊCH SỬ MUA HÀNG</h2>
                <hr class="colorgraph" />

                <p>
                    <input type="button" style="color: white; background-color: yellowgreen;" value="Tạo mới đơn hàng" onclick="location.href='@Url.Action("Create", "GioHang")'" />
                </p>


                @if (Model == null)
                {
                    <h1>Please login to see your all cart</h1>
                }
                else
                {
                    <div class="card mb-12">
                        <div class="card-body">
                            @if (ViewBag.Success != null)
                            {
                                <div id="msgAlert" class="alert alert-success" role="alert">
                                    @ViewBag.Success
                                </div>
                            }
                            else if (ViewBag.Failure != null)
                            {
                                <div id="msgAlert" class="alert alert-danger" role="alert">
                                    @ViewBag.Failure
                                </div>

                            }
                        </div>
                    </div>

                    <table class="table">
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th>
                                @Html.DisplayNameFor(model => model.ngaylap)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tinhtrangthanhtoan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tinhtrang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.makhachhang)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.maphieumuahang) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ngaylap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tinhtrangthanhtoan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tinhtrang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.makhachhang)
                                </td>
                                <td>

                                    <input type="button" style="color: white; background-color:darkblue;" value="Xác Nhận Mua" onclick="location.href='@Url.Action("Confirm", "GioHang", routeValues: new { @Ma_DH = item.maphieumuahang })'" />
                                    <input type="button" style="color: white; background-color: red;" value="Details" onclick="location.href='@Url.Action("Details", "GioHang", routeValues: new { @Ma_DH = item.maphieumuahang })'" />
                                    <input type="button" style="color: white; background-color: grey;" value="Delete" onclick="location.href='@Url.Action("Delete", "GioHang", routeValues: new { @Ma_DH = item.maphieumuahang })'" />
                                </td>
                            </tr>
                        }

                    </table>
                }
            </div>
        </div>
    </div>

</section>

