@model CUAHANGBANSACH.Models.SACH

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<section id="content">
    <div>
        <h4>SACH</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tensach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tensach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.soluonghienco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soluonghienco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dacdiem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dacdiem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.anhsanpham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.anhsanpham)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DVT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DVT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dongia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dongia)
            </dd>

        </dl>
    </div>

    <p>@Html.ActionLink("Back to List", "Index")</p>
</section>


