@model CUAHANGBANSACH.Models.CHUCVU

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}
}



<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Thêm Chức Vụ</h4>
                        <hr class="colorgraph" />

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.machucvu, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder="Mã Chức Vụ"} })
                                @Html.ValidationMessageFor(model => model.machucvu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tenchucvu, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder="Tên chức vụ" } })
                                @Html.ValidationMessageFor(model => model.tenchucvu, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tinhtrang, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder="Tình trạng" } })
                                @Html.ValidationMessageFor(model => model.tinhtrang, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>
        </div>

    </div>

</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
