@model CUAHANGBANSACH.Models.CHUCVU

@{
    ViewBag.Title = "Edit";
}



<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Cập nhật thông tin chức vụ @Model.machucvu</h4>
                        <hr class="colorgraph"/>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.machucvu)

                        <div class="form-group">
                            
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tenchucvu, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder="Tên chức vụ" } })
                                @Html.ValidationMessageFor(model => model.tenchucvu, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
    
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
