@model IEnumerable<CUAHANGBANSACH.Models.CHUCVU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Staff.cshtml";
}

<h2>Index</h2>
<section id="content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenchucvu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tinhtrang)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenchucvu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tinhtrang)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.machucvu }) |
                    @Html.ActionLink("Details", "Details", new { id = item.machucvu }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.machucvu })
                </td>
            </tr>
        }

    </table>
</section>

